<section class="login">

    <form action='/login' method="POST">
        <div class='form-group'>

            <input class='input-rounded' id='username' type='text' placeholder='Username' name='username' required>

        </div>

        <div class='form-group'>

            <input class='input-rounded' id='pass' type='password' placeholder='Password' name='password' required>

        </div>

        {{#if errorMessage}}

        <div class="alert alert-danger" role="alert">
            {{errorMessage}}
        </div>

        {{/if}}

        <button type='submit' class='btn-rounded btn-secondary'>Submit</button>

    </form>

</section>