<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href='/register' class="btn btn-dark">Sign up</a>
<a href='/login' class="btn btn-dark">Log in</a>
<a href="/games">Games</a>
<a href="/companies">Companies</a>