<section class="profile">

    <div class="header row justify-content-between">

        <div class="user-info col-md-6">

            <div class="row">

                <div class="image">

                    <img src={{profileImage}} alt="profile image of {{username}}">

                </div>

                <div class="username col">

                    <h2>{{username}}</h2>
                    <p>@{{username}}</p>

                </div>

            </div>

        </div>

        <div class="social col-md-6">

            <div class="justify-content-around row justify-content-md-end align-items-center">

                <div class="played">
                    <h2>0</h2>
                    <p>Played</p>
                </div>

                <div class="followers">
                    <h2>0</h2>
                    <p>Followers</p>
                </div>

                <div class="following">
                    <h2>1</h2>
                    <p>Following</p>
                </div>

            </div>

        </div>

    </div>

    <div class="body row justify-content-between">

        <div class="options col-md-6">

            <a href="#">
                <h2>Activity</h2>
            </a>

            <a href="#">
                <h2>Reviews</h2>
            </a>

            <a href="#">
                <h2>Lists</h2>
            </a>

        </div>

        <div class="collection col-md-6">

        </div>

    </div>

</section>