*[class*='row']{

  //border: solid 1px rgba(255, 0, 0, .5);
  margin: 0;
  padding: 0

}

*[class*='col']{

  //border: solid 1px rgba(0, 255, 0, .5);

}

body {
  padding: 0;
  font-family: sans-serif;

  background-color: rgb(4, 10, 27);
}

.main-header{

  width: 100%;
  height: 100px;

  border: solid 1px white


}

// Profile

.profile{

  padding: 20px 0;
  
  color: white;

  h2{

    font-size: 2em;
    font-weight: 900;

  }

  p {

    color: grey;
    font-weight: 900;
    margin-bottom: 0;

  }

  h3{

    font-size: 1.3em;
    font-weight: 900;

  }
  
  a{

    color: inherit;
    text-decoration: none;

  }

  .header{

    .user-info{

      .image{
        
        display: block;
        width: 100%;
        
        img{

          width: 110px;
          height: 110px;

          display: block;
          margin: 0 auto;
          
          border-radius: 50%;          
        
        }
      }

        
      .username {

        text-align: center;

        p {
          
          font-size: 1.3em;         

        }
      }
    }

    .social {

      .row{

        height: 100%;

        a{

          width: 90px;
          height: 75px;
          margin: 0 10px;
          border-radius: 8px;

          h2, p {

            text-align: center;
            margin-bottom: 0;            

          }

          p {

            text-transform: uppercase;
            font-size: .7em;

          }
        }

        a:hover{

          background-color: rgb(22, 27, 43);

        }
      }
    }
  }

  .body{

    .options{

      h2{

        margin: 40px 0

      }

    }

    .collection{

      width: 100%;

      .buttons{
        
        .col{
          
            height: 100px;
            flex-basis: initial;
            border-radius: 10px;
            margin: 5px 0

        }

        .col:first-child{

          background-color: rgb(47, 182, 148);

        }
        .col:nth-child(2){

          background-color: rgb(59, 139, 39);

        }
        .col:nth-child(3){

          background-color: rgb(70, 59, 165);

        }
        .col:nth-child(4){

          background-color: rgb(115, 54, 185);

        }
        .col:nth-child(5){

          background-color: rgb(192, 82, 18);

        }
        .col:nth-child(6){

          background-color: rgb(202, 52, 26);

        }

      }

    }

  }
}

@media (min-width: 769px) {
  
  .profile{
    .header{
      .user-info{
        .username{

          text-align: left;

        }

        .image{
  
          display: inline;
          width: auto;

          img{

            display: inline;            

          }
  
        }      
        
      }

    }

    .body{
      .collection{
        width: 320px;
      }
    }

  }
  
}

//Games index Styles
.game-list-view {
  color: white;
}
.game-li {
  width: 40%;
  padding: 10px;
  display: flex;
  border: white solid 2px;
  border-radius: 10px;
}
.game-li h3 {
  margin-left: 5px;
  font-size: 4em;
}
.game-li img {
  width: 200px;
}

//Game details Styles
.game-details {
  color: white;
  margin: 20px;
}
.game-details iframe {
  width: 1000px;
  height: 500px;
}
.game-hero {
  display: flex;
  margin-bottom: 20px;
}
.game-hero img {
  width: 300px;
  margin-right: 20px;
}

//Company index Styles
.company-index {
  color: white;
}
.company-li {
  list-style-type: none;
}

//Commpany details Styles
.company-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.company-details h2{
  font-size: 5em;
  font-weight: bold;
}
.company-details a {
  margin-bottom: 5px;
}
.company-details img {
  width: 500px;
}
.company-details article {
  width: 700px;
}
.company-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: white solid 2px;
  border-radius: 20px;
  padding: 25px;
}