*[class*='row'] {
  margin: 0;
  padding: 0; }

body {
  padding: 0;
  font-family: sans-serif;
  background-color: #040a1b; }

.main-header {
  width: 100%;
  height: 100px;
  border: solid 1px white; }

main {
  max-width: 1280px;
  margin: 0 auto;
  color: white; }
  main h2 {
    font-size: 2em;
    font-weight: 900; }
  main h3 {
    font-size: 1.3em;
    font-weight: 900; }
  main a, main a:hover {
    color: inherit;
    text-decoration: none; }
  main .profile {
    padding: 20px 0; }
    main .profile p {
      color: grey;
      font-weight: 900;
      margin-bottom: 0; }
    main .profile .header .user-info .image {
      display: block;
      width: 100%; }
      main .profile .header .user-info .image div {
        position: relative;
        display: inline-block; }
        main .profile .header .user-info .image div img {
          width: 110px;
          height: 110px;
          border-radius: 50%; }
        main .profile .header .user-info .image div a {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 30px;
          height: 30px;
          background-color: #040a1b;
          border: solid 1px lime;
          border-radius: 50%; }
    main .profile .header .user-info .username {
      text-align: center; }
      main .profile .header .user-info .username p {
        font-size: 1.3em; }
    main .profile .header .social .row {
      height: 100%; }
      main .profile .header .social .row a {
        width: 90px;
        height: 75px;
        margin: 0 10px;
        border-radius: 8px; }
        main .profile .header .social .row a h2, main .profile .header .social .row a p {
          text-align: center;
          margin-bottom: 0; }
        main .profile .header .social .row a p {
          text-transform: uppercase;
          font-size: .7em; }
      main .profile .header .social .row a:hover {
        background-color: #161b2b; }
    main .profile .body .options h2 {
      margin: 40px 0; }
    main .profile .body .collection {
      width: 100%; }
      main .profile .body .collection .buttons .col {
        height: 100px;
        flex-basis: initial;
        border-radius: 10px;
        margin: 5px 0; }
      main .profile .body .collection .buttons .col:first-child {
        background-color: #2fb694; }
      main .profile .body .collection .buttons .col:nth-child(2) {
        background-color: #3b8b27; }
      main .profile .body .collection .buttons .col:nth-child(3) {
        background-color: #463ba5; }
      main .profile .body .collection .buttons .col:nth-child(4) {
        background-color: #7336b9; }
      main .profile .body .collection .buttons .col:nth-child(5) {
        background-color: #c05212; }
      main .profile .body .collection .buttons .col:nth-child(6) {
        background-color: #ca341a; }
  main .settings input {
    border-radius: 20px;
    padding: 0 20px; }
  main .settings .options {
    padding: 0; }
    main .settings .options a {
      display: block;
      height: 55px;
      padding-left: 20px; }
      main .settings .options a h3 {
        margin: 0; }
    main .settings .options .active {
      background-color: #161b2b;
      border-left: solid 5px lime; }
  main .settings .edition h2 {
    margin: 0 0 30px 15px; }
  main .settings .edition .image {
    padding-top: 20px;
    padding-bottom: 20px; }
    main .settings .edition .image .profile-img {
      width: 160px;
      height: 160px;
      margin: 0 auto;
      position: relative; }
      main .settings .edition .image .profile-img img {
        width: 100%;
        border-radius: 50%; }
      main .settings .edition .image .profile-img figure {
        position: absolute;
        right: 0px;
        bottom: 0px;
        display: inline-block;
        margin: 0;
        width: 2.5em;
        height: 2.5em;
        border: solid 1px lime;
        border-radius: 50%;
        background-color: #040a1b; }
        main .settings .edition .image .profile-img figure div {
          width: 100%;
          height: 100%; }

@media (min-width: 768px) {
  main .profile .header .user-info .username {
    text-align: left; }
  main .profile .header .user-info .image {
    display: inline;
    width: auto; }
  main .profile .body .collection {
    width: 320px; } }

.game-list-view {
  color: white; }
  .game-list-view .game-li {
    width: 40%;
    padding: 10px;
    display: flex;
    border: white solid 2px;
    border-radius: 10px; }
    .game-list-view .game-li h3 {
      margin-left: 5px;
      font-size: 4em; }
    .game-list-view .game-li img {
      width: 200px; }

.game-details {
  color: white;
  margin: 20px; }
  .game-details iframe {
    width: 1000px;
    height: 500px; }

.game-hero {
  display: flex;
  margin-bottom: 20px; }
  .game-hero img {
    width: 300px;
    height: 400px;
    margin-right: 20px; }

.company-index {
  color: white; }

.company-li {
  list-style-type: none; }

.company-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white; }

.company-details h2 {
  font-size: 5em;
  font-weight: bold; }

.company-details a {
  margin-bottom: 5px; }

.company-details img {
  width: 500px; }

.company-details article {
  width: 700px; }

.company-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: white solid 2px;
  border-radius: 20px;
  padding: 25px; }

/*# sourceMappingURL=style.css.map */