*[class*='row'] {
  margin: 0;
  padding: 0; }

body {
  padding: 0;
  font-family: sans-serif;
  background-color: #040a1b; }

p {
  pointer-events: none; }

form {
  max-width: 500px;
  margin: 0 auto; }
  form .input-rounded {
    height: 50px;
    border-radius: 25px;
    padding: 0 20px;
    width: 100%;
    background-color: #040a1b;
    border: solid 1px white;
    color: white;
    font-weight: 900;
    font-size: 1.2em;
    outline: none; }

section {
  padding: 40px 20px; }

#map {
  height: 500px; }

.btn-rounded {
  outline: none;
  padding: 8px 20px;
  border-radius: 25px;
  transition: all;
  transition-duration: .5s;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase; }

.btn-rounded:hover {
  outline: none;
  text-decoration: none; }

.btn-important {
  border: solid 1px lime;
  background-color: #040a1b;
  color: white; }

.btn-important:hover {
  background-color: lime;
  color: #040a1b; }

.btn-default {
  border: solid 1px white;
  background-color: white;
  color: #040a1b; }

.btn-default:hover {
  color: #040a1b;
  background-color: lime;
  border-color: lime; }

.btn-secondary {
  border: solid 1px white;
  background-color: #040a1b;
  color: white;
  transition: none; }

.btn-secondary:hover {
  background-color: white;
  color: #040a1b; }

.btn-red {
  border: solid 1px white;
  background-color: #040a1b;
  color: white; }

.btn-red:hover {
  background-color: #ee3131;
  border-color: #ee3131;
  color: #040a1b; }

.main-header {
  display: flex;
  align-items: center;
  padding: 0 30px;
  width: 100%;
  height: 100px; }
  .main-header .logo {
    font-size: 2.3em;
    font-weight: 900;
    color: white;
    margin-right: 1em; }
    .main-header .logo img {
      height: 60px; }
  .main-header .logo:hover {
    text-decoration: none; }
  .main-header .btn-login:hover {
    background-color: white;
    color: #040a1b;
    text-decoration: none; }
  .main-header a {
    margin: 0 5px; }
  .main-header form {
    display: inline-block; }

main {
  max-width: 1280px;
  margin: 0 auto;
  color: white; }
  main h2 {
    font-size: 2em;
    font-weight: 900; }
  main h3 {
    font-size: 1.3em;
    font-weight: 900; }
  main a, main a:hover {
    color: inherit;
    text-decoration: none; }
  main .search-screen {
    pointer-events: none;
    padding: 40px;
    opacity: 0;
    backdrop-filter: blur(100px);
    background-color: rgba(4, 10, 27, 0.7);
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all;
    transition-duration: .5s; }
    main .search-screen h2 {
      color: white; }
    main .search-screen hr {
      border-top: solid 1px white;
      margin-top: 30px; }
    main .search-screen div[class*='cards-container'] .info-card {
      margin: 15px 0; }
      main .search-screen div[class*='cards-container'] .info-card a {
        pointer-events: auto;
        margin-left: 20px;
        color: white;
        text-decoration: none;
        font-size: 1.3em; }
      main .search-screen div[class*='cards-container'] .info-card a:hover {
        filter: brightness(1.5); }
      main .search-screen div[class*='cards-container'] .info-card img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        size: cover; }
  main .main-home .hero h1 {
    font-weight: 900;
    font-size: 6em;
    max-width: 800px;
    margin-bottom: .8em; }
  main .main-home .hero h2 {
    font-size: 3.2em;
    margin-bottom: .5em; }
  main .main-home .hero p {
    font-size: 2em;
    margin-bottom: 1.3em; }
  main .main-home .hero .btn-important {
    height: 50px;
    border-radius: 25px;
    display: inline-block; }
    main .main-home .hero .btn-important h2 {
      font-size: 1.2em;
      display: inline-block;
      margin-top: 4px; }
  main .main-home .hero .btn-important:hover {
    color: #040a1b; }
  main .main-home .offer {
    margin-top: 50px; }
    main .main-home .offer .content {
      display: block;
      border: solid 1px white;
      border-radius: 20px;
      padding: 20px;
      margin: 10px 0;
      transition: all;
      transition-duration: .5s; }
      main .main-home .offer .content svg {
        display: block;
        margin: 0 auto;
        height: 100%; }
      main .main-home .offer .content h2 {
        text-align: center; }
      main .main-home .offer .content .icon {
        height: 200px; }
        main .main-home .offer .content .icon .game-icon {
          max-width: 150px; }
        main .main-home .offer .content .icon .company-icon {
          max-width: 120px; }
        main .main-home .offer .content .icon .event-icon {
          max-width: 110px; }
    main .main-home .offer .content:hover {
      background-color: #161b2b; }
  main .profile {
    padding: 20px 0; }
    main .profile p {
      color: grey;
      font-weight: 900;
      margin-bottom: 0; }
    main .profile .header .user-info .image {
      display: block;
      width: 100%; }
      main .profile .header .user-info .image div {
        position: relative;
        display: inline-block; }
        main .profile .header .user-info .image div img {
          width: 110px;
          height: 110px;
          border-radius: 50%; }
        main .profile .header .user-info .image div a {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 30px;
          height: 30px;
          background-color: #040a1b;
          border: solid 1px lime;
          border-radius: 50%; }
    main .profile .header .user-info .btn-container {
      padding: 20px 0; }
      main .profile .header .user-info .btn-container .follow-btn {
        outline: none;
        display: block;
        margin: 0 auto;
        color: lime; }
      main .profile .header .user-info .btn-container .follow-btn:hover {
        color: #040a1b; }
    main .profile .header .user-info .username {
      text-align: center; }
      main .profile .header .user-info .username p {
        font-size: 1.3em; }
      main .profile .header .user-info .username h2 {
        display: inline-block; }
    main .profile .header .social .row {
      height: 100%; }
      main .profile .header .social .row div {
        width: 90px;
        height: 75px;
        margin: 0 10px;
        margin-bottom: 15px;
        border-radius: 8px; }
        main .profile .header .social .row div h2, main .profile .header .social .row div p {
          text-align: center;
          margin-bottom: 0; }
        main .profile .header .social .row div p {
          text-transform: uppercase;
          font-size: .7em; }
      main .profile .header .social .row a:hover {
        background-color: #161b2b; }
    main .profile .body .options h2 {
      margin: 40px 0; }
    main .profile .body .collection {
      width: 100%; }
      main .profile .body .collection .buttons .col {
        height: 100px;
        flex-basis: initial;
        border-radius: 10px;
        margin: 5px 0; }
      main .profile .body .collection .buttons .col:first-child {
        background-color: #2fb694; }
      main .profile .body .collection .buttons .col:nth-child(2) {
        background-color: #3b8b27; }
      main .profile .body .collection .buttons .col:nth-child(3) {
        background-color: #463ba5; }
      main .profile .body .collection .buttons .col:nth-child(4) {
        background-color: #7336b9; }
      main .profile .body .collection .buttons .col:nth-child(5) {
        background-color: #c05212; }
      main .profile .body .collection .buttons .col:nth-child(6) {
        background-color: #ca341a; }
  main .settings .options {
    padding: 0; }
    main .settings .options a {
      display: block;
      height: 55px;
      padding-left: 20px; }
      main .settings .options a h3 {
        margin: 0; }
  main .settings .edition h2 {
    margin: 0 0 30px 15px; }
  main .settings .edition .image {
    padding-top: 20px;
    padding-bottom: 20px; }
    main .settings .edition .image .profile-img {
      width: 160px;
      height: 160px;
      margin: 0 auto;
      position: relative; }
      main .settings .edition .image .profile-img img {
        width: 100%;
        border-radius: 50%; }
      main .settings .edition .image .profile-img figure {
        position: absolute;
        right: 0px;
        bottom: 0px;
        display: inline-block;
        margin: 0;
        width: 2.5em;
        height: 2.5em;
        border: solid 1px lime;
        border-radius: 50%;
        background-color: #040a1b; }
        main .settings .edition .image .profile-img figure div {
          width: 100%;
          height: 100%; }
  main .settings .edition .form form .email {
    margin-bottom: 30px; }
  main .settings .edition .form form .cancel {
    display: inline-block;
    padding: 8px 20px;
    border-radius: 25px;
    margin-left: 10px; }
  main .user-reviews {
    padding-top: 30px; }
    main .user-reviews .title {
      margin-bottom: 30px; }
    main .user-reviews div[class*='col'] {
      padding: 10px; }
      main .user-reviews div[class*='col'] .content {
        height: 100%;
        background-color: #ee6414;
        border-radius: 20px; }
        main .user-reviews div[class*='col'] .content header {
          padding: 10px 20px;
          padding-bottom: 0; }
          main .user-reviews div[class*='col'] .content header h2 {
            color: white;
            text-align: center;
            margin: 0;
            font-size: 1.3em; }
        main .user-reviews div[class*='col'] .content .body {
          flex-grow: 1;
          padding: 20px;
          padding-top: 10px; }
          main .user-reviews div[class*='col'] .content .body .text-box {
            background-color: #ecd0bf;
            color: black;
            border-radius: 10px;
            height: 100%;
            padding: 20px; }
            main .user-reviews div[class*='col'] .content .body .text-box p {
              margin: 0;
              font-style: italic; }
        main .user-reviews div[class*='col'] .content .footer {
          padding-left: 20px; }
  main .games header {
    margin-bottom: 50px; }
    main .games header svg {
      width: 100px; }
  main .games .title {
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 0;
    font-size: 2.5em; }
  main .games .game-list-view .bridge {
    height: 100%;
    width: 100%;
    padding: 20px 0; }
  main .games .game-list-view .game-card {
    height: 100%;
    width: 100%; }
    main .games .game-list-view .game-card a {
      display: inline-block;
      max-width: 200px;
      border-radius: 30px; }
      main .games .game-list-view .game-card a img {
        max-height: 220px;
        border-radius: 30px;
        margin-bottom: 20px;
        transition: all;
        transition-duration: .3s; }
    main .games .game-list-view .game-card a:hover img {
      transform: scale(1.07); }
    main .games .game-list-view .game-card h3 {
      text-align: center; }
  main .companies header {
    margin-bottom: 50px; }
    main .companies header svg {
      width: 80px; }
  main .companies .title {
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 0;
    font-size: 2.5em; }
  main .events h4 {
    font-size: 1.1em;
    margin-bottom: 20px; }
  main .events header {
    margin-bottom: 50px; }
    main .events header svg {
      width: 70px; }
  main .events .title {
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 0;
    font-size: 2.5em; }

@media (min-width: 768px) {
  main .profile .header .user-info .username {
    text-align: left; }
  main .profile .header .user-info .image {
    display: inline;
    width: auto; }
  main .profile .header .user-info .btn-container .follow-btn {
    display: inline-block; }
  main .profile .body .collection {
    width: 320px; } }

.game-hero {
  display: flex;
  margin-bottom: 20px; }
  .game-hero img {
    width: 300px;
    height: 400px;
    margin-right: 20px; }

.company-index {
  color: white; }

.company-li {
  list-style-type: none; }

.company-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white; }

.company-details h2 {
  font-size: 5em;
  font-weight: bold; }

.company-details a {
  margin-bottom: 5px; }

.company-details img {
  width: 500px; }

.company-details article {
  width: 700px; }

.company-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: white solid 2px;
  border-radius: 20px;
  padding: 25px; }

#map {
  height: 500px; }

.modal-sm {
  color: black; }

/*# sourceMappingURL=style.css.map */