<div class="game-list-view">
    <h2>Here are all of our games:</h2>

    <ul class="game-list">
        {{#each games}}
        <li class="game-li">
            <a href="/games/{{_id}}"><img src="{{image}}" alt="{{title}} image"></a>
            <h3>{{title}}</h3>
        </li>
        <hr>
        {{/each}}
    </ul>
</div>