<section class="new-article">

    <div class="container">

        <div class="row">

            <div class="col-md-6">
                <h1 style="font-weight: 100">New article</h1>
            </div>

            <div class="col-md-6">

                <form action="/games/{{game._id}}/newArticle" method="post">

                    <div>
                        <label for="text-input">Write here:</label>
                        <textarea class="form-control" aria-label="With textarea" name='text'
                            id='text-input'></textarea>
                    </div>

                    <div class="form-group">
                        <input name="creatorId" type="hidden" class="form-control" id="creatorId-input"
                            value="{{user._id}}">
                        <input name="gameId" type="hidden" class="form-control" id="gameId-input" value="{{game._id}}">
                    </div>

                    {{!-- <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="type-input" value="REVIEW" name='type' checked>
                        <label class="form-check-label" for="type-input">Review</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="type-input" value="NEWS" name='type'>
                        <label class="form-check-label" for="type-input">News</label>
                    </div> --}}

                    <br><br>

                    <button type="submit" class="btn-rounded btn-default">Create</button>
                    <a href="/games/{{id}}" class="btn-rounded btn-secondary">Go Back</a>

                </form>
            </div>

        </div>
    </div>

</section>