<div class="company-details">
    <h2>{{name}}</h2>

    <div class="game-hero">
        <img src="{{logo}}" alt="{{name}} logo">
        <div class="game-hero-container">
            <article>{{description}}</article>
        </div>
    </div>
</div>